* {
    font-family: "Manrope", sans-serif;
    scrollbar-width: none;
    color: white;
}
body {
    margin: 0;
    background-color: black;
}
p {
    margin: 0;
    padding: 0;
}


/* HEADER */


#header {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 1111;
}
#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 1rem 3rem 1rem 3rem;
}
#header-right {
    display: flex;
    gap: 15px;
}
#header-logo {
    width: 100px;
    transition: all 150ms ease;
}
#header-logo:hover {
    opacity: 0.6;
    scale: 0.97;
}
#search {
    position: relative;
    --size-button: 40px;
    transition: all 150ms ease;
}
#search:hover {
    scale: 0.98;
}
#search-input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    outline: none;
    width: 0px;
    transition: all ease 0.3s;
    background-color: rgba(255,255,255,.15);
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
}
#search-input:focus,
#search-input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}
#search-input:focus + .icon,
#search-input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
}
#search .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
}
#search-icon {
    width: 25px;
}
#settings {
    width: 42px;
    height: 42px;
    background-color: rgba(255,255,255,.15);
    border: none;
    border-radius: 50%;
    padding-top: 5px;
    box-shadow: 1px 1px 1.5px #0e0e0e, -1px -1px 1.5px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    transition: all 150ms ease;
}
#settings-icon {
    width: 30px;
}
#settings:hover {
    scale: 0.95;
    rotate: 60deg;
}


/* HERO */


#hero {
    display: flex;
}
#hero-content {
    display: flex;
    flex-direction: column;
    margin: 25vh 3rem 15vh 3rem;
    z-index: 1;
}
#hero-title {
    font-size: 4rem;
    margin-top: 3rem;
    font-weight: bold;
}
#hero-desc {
    font-size: 1.1rem;
    width: 40vw;
    margin-top: 0.5rem;
}
#hero-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 20px;
}
#hero-button {
    width: 100px;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    transition: all 150ms ease;
}
#hero-button:hover {
    background-color: rgba(255,255,255,0.5);
    scale: 0.95;
}
#hero-image {
    position: absolute;
    z-index: -1;
    width: 100vw;
    opacity: 0.4;
}
.hero-animation {
    animation: 1.25s ease-out 0s 1 hero;
}
@keyframes hero {
    0% {
      opacity: 0;
      scale: 0.99;
      filter: blur(5px);
    }
    100% {
      opacity: 0.4;
      scale: 1;
      filter: blur(0px);
    }
}


/* DISCOVER */


#discover {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgb(24, 17, 13) 50%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}
#discover-section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.75rem 1rem 0.75rem;
}
#discover-title {
    font-size: 2rem;
    margin-left: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2)
}
.discover-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: scroll;
    padding: 8px;
}
.card {
    position: relative;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 150ms ease;
}
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease;
    text-align: center;
    font-weight: 600;
    transform: translateY(0);
    transition: all 200ms ease;
}
.card-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease;
}
.play-icon {
    width: 40px !important;
    height: 30px !important;
    object-fit: contain;
}
.card img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: all 200ms ease;
}
.card:hover img{
    scale: 1.05;
    opacity: 0.35;
}
.card:hover .card-content {
    transform: translateY(8px);
    opacity: 1;
}
.card:hover .card-play {
    opacity: 1;
}
.card:hover .play-icon {
    opacity: 1;
}
.lazy {
    filter: blur(5px);
    scale: 0.98;
    opacity: 0;
}
.loaded {
    filter: blur(0);
    scale: 1;
    opacity: 1;
}
.carousel-btn {
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.75rem;
    border-radius: 10px 0px 0px 10px;
}
#discover-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* FOOTER */


#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, rgb(43, 27, 25) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 2rem 3rem 1.25rem 3rem;
}
#footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#welcome {
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 3px;
}
#copyright {
    font-size: 0.8rem;
}
#github {
    width: 50px;
    opacity: 0.5;
}
#github:hover {
    opacity: 1;
    scale: 1.05;
}
#mail {
    width: 50px;
    opacity: 0.5;
}
#mail:hover {
    scale: 1.05;
    opacity: 1;
}
#dmca {
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.5;
    text-decoration: none;
}


/* SEARCH */


#search-section {
    min-height: 100vh;
    margin: 0rem 10rem 0rem 10rem;
}
#search-results {
    display: flex;
    padding-top: 7rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
#search-none {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


/* DMCA */


#dmca-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#dmca-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#dmca-email {
    font-size: 1.25rem;
}


/* SETTINGS */


#settings-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85.1vh;
    max-width: 100vw;
    font-size: 3rem;
}


/* PLAYER */


#iframe-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#next-episode-button, #back-button {
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#next-episode-button:hover, #back-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#next-episode-button {
    top: 10px;
    margin-left: 80px;
    font-weight: bold;
}
#back-button {
    top: 10px;
    margin-right: 80px;
    font-weight: bold;
}
#button-grid {
    display: flex;
    justify-content: center;
}


/* SCROLLBAR */


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    border: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* INFO */


#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 50px;
    text-align: center;
}
#info-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 600px;
    gap: 15px;
    z-index: 11;
}
#info-poster {
    width: 300px;
    border-radius: 12px;
    z-index: 12;
    box-shadow: 5px 5px 20px black;
}
#info-title {
    font-size: 2.5rem;
    font-weight: bold;
}
#info-star {
    width: 12px;
    height: 12px;
}
#info-genres {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.genre-box {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
}
#info-backdrop {
    position: absolute;
    z-index: -2;
    width: 100vw;
    opacity: 0.3;
    filter: blur(5px);
}
.back-animation {
    animation: 1.25s ease-out 0s 1 back;
}
@keyframes back {
    0% {
      opacity: 0;
      filter: blur(3px);
      scale: 1.01;
    }
    100% {
      opacity: 0.3;
      filter: blur(5px);
      scale: 1;
    }
}
#info-bottom {
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgb(24, 17, 13) 50%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
}
#play-button {
    width: 100px;
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    transition: all 150ms ease;
}
#play-button:hover {
    background-color: rgba(255,255,255,.4);
    scale: 1.05;
}
#button-grid {
    display: flex;
    flex-direction: row;
}
#info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}
#info-date {
    margin-left: 10px;
}
#suggested-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px 250px 32px 250px;
    gap: 15px;
    z-index: 10;
}
#suggested-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 5rem;
}
#suggested-image {
    width: 250px;
    height: auto;
}
#season-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 20rem;
    margin-top: 5rem;
}
#season-selector {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 0;
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;
    width: 208px;
    height: 50px;
}
#season-selector:focus,
#season-selector:active {
    background-color: rgb(36, 36, 36);
}
#episodes-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
    max-height: 50vh;
    margin: 1rem 20rem 2rem 20rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 0.5rem;
}
.episode-box {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
}
.episode-content {
    margin-left: 1.5rem;
}
#episode-image {
    width: 200px;
    border-radius: 8px;
}
#episode-title {
    font-size: 1.25rem;
    font-weight: bold;
}
#episode-desc {
    font-size: 1rem;
}
.hidden {
    display: none !important;
}