@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
    color: white;
}
body {
    margin: 0;
    background-color: black;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    border: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.swiper-button-next, .swiper-button-prev {
    opacity: 0 !important;
    color: rgba(255,255,255,0.8) !important;
    padding: 0 10px !important;
    height: 100% !important;
    top: 2% !important;
    transition: all 100ms ease-out;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1 !important;
}