@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
    color: white;
}
body {
    margin: 0;
    background-color: black;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.loader, .error {
    width: 100vw;
    height: 100vh;
    display: flex;
    filter: grayscale(100%);
    justify-content: center;
    align-items: center;
}
.loader img {
    width: 100px;
    animation: loaderimg 2000ms linear;
    animation-iteration-count: infinite;
}
.error p {
    font-size: 24px;
    font-weight: bold;
}
@keyframes loaderimg {
    0%  {
        opacity: .5;
    }
    25%  {
        opacity: .7
    }
    50%  {
        opacity: .9
    }
    75% {
        opacity: .7
    }
    100% {
        opacity: .5
    }
}
#swiper {
    display: flex;
    height: 100vh;
}


/* NOTFOUND */

/* HEADER */

/* HERO */

/* HOME */

/* DISCOVER */


.swiper-button-next, .swiper-button-prev {
    opacity: 0 !important;
    color: rgba(255,255,255,0.8) !important;
    padding: 0 10px !important;
    height: 100% !important;
    top: 2% !important;
    transition: all 100ms ease-out;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1 !important;
}


/* SERVICE */

/* FOOTER */

/* SEARCH */

/* DMCA */

/* SETTINGS */

/* PLAYER */

/* SCROLLBAR */


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    border: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* INFO */

/* MOBILE */

/* 
@media (max-height: 600px) {
    #hero-title-image {
        display: none !important;
        max-width: 90%;
    }
    #hero-title-text {
        display: flex;
    }
    #hero-desc {
        width: 100% !important;
        text-align: center;
        font-size: 1rem;
    }
    #hero-buttons {
        justify-content: center;
    }
    #hero-bar {
        justify-content: center;
    }
    #hero-content {
        margin: 0 1rem;
    }
    #hero-card {
        margin-bottom: 15vh !important;
        width: 100%;
    }
    #home {
        top: -10vh !important;
        margin-bottom: -10vh !important;
    }
    #hero-title {
        display: flex;
        justify-content: center;
    }
    #header {
        transition: top 0.25s;
    }
    #header.show {
        top: -80px;
    }
    #header.visible {
        top: 0;
    }
    #info-title {
        display: none;
    }
    #info-title-text {
        display: flex;
    }
    #discover-section {
        margin: 0;
    }
    #episode-image {
        width: 20vw !important;
    }
    .episode-box {
        flex-direction: row !important;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
    #discover-slider {
        margin-right: 10px;
    }
}
@media (max-height: 450px) {
    .card img {
        width: 20vw !important;
    }
    #hero-title-text {
        font-size: 2.8rem;
    }
    #hero-desc > p {
        font-size: 0.9rem;
    }
    #discover-slider {
        width: 20vw !important;
    }
    #discover-card {
        min-height: 31vw !important;
    }
    .card {
        width: 20vw !important;
    }
    #discover-section {
        margin: 0.5rem 0rem !important;
    }
    #big-card img {
        width: 40vw !important;
        height: 25vw !important;
        object-fit: cover;
    }
    #discover-title {
        font-size: 1.5rem;
    }
    #header-section {
        margin: 0.8rem 1rem !important;
    }
    #info-top {
        gap: 8px;
        padding-top: 50px;
    }
    #info-description {
        font-size: 0.875rem;
    }
    #search-section {
        margin: 0 2rem;
    }
}
@media (max-width: 1400px) {
    #episodes-container {
        margin: 1rem 10rem 6rem 10rem;
    }
    .watch-card img {
        width: 15vw;
    }
    .watch-card {
        width: 15vw;
    }
    .widecard-image {
        width: 20vw;
    }
    #season-container {
        padding-left: 10rem;
    }
    .card img {
        width: 16vw;
    }
    #discover-card {
        min-height: 25vw;
    }
    .card {
        width: 16vw;
    }
    #service {
        margin: 3rem 1.5rem 2rem 1.5rem;
    }
    #discover-slider {
        width: 16vw;
    }
    #discover-section {
        margin: 1rem 1.5rem;
    }
}
@media (max-width: 1100px) {
    #service {
        display: none;
    }
    #discover-section {
        margin: 1rem 1rem;
    }
    #watchlist-button {
        opacity: 1;
    }
    .watch-card img {
        width: 18vw;
    }
    .watch-card {
        width: 18vw;
    }
    #settings-main {
        margin: 0 2.5rem;
    }
    .widecard-image {
        width: 28vw;
    }
    #hero-desc {
        width: 60vw;
    }
    #info-poster {
        display: none;
    }
    #suggested-container {
        margin: 16px 50px;
    }
    #episodes-container {
        margin: 1rem 5rem 6rem 5rem;
    }
    #season-container {
        padding-left: 5rem;
    }
    .card-content {
        opacity: 1;
    }
    .card-content {
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    }
    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
    .card img {
        width: 20vw;
    }
    #discover-card {
        min-height: 31vw;
        padding: 12px 1rem;
    }
    .card {
        width: 20vw;
    }
    #discover-slider {
        width: 20vw;
    }
}
@media (max-width: 800px) {
    #search-section {
        margin: 0 2rem;
    }
    .watch-card img {
        width: 24vw;
    }
    #discover-section {
        margin: 1rem 0.5rem;
    }
    .watch-card {
        width: 24vw;
    }
    .widecard-image {
        width: 40vw;
    }
    #header {
        height: auto;
        transition: top 0.25s;
    }
    #big-card {
        width: 40vw !important;
    }
    .big-image {
        width: 40vw !important;
    }
    #hero-title-image {
        max-width: 90%;
    }
    #hero-desc {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    #search-results {
        gap: 2vw;
    }
    #hero-buttons {
        justify-content: center;
    }
    #hero-bar {
        justify-content: center;
        margin-top: 10px;
    }
    #hero-content {
        margin: 0 1rem;
    }
    #hero-card {
        margin-bottom: 30vh;
        width: 100%;
    }
    #home {
        top: -25vh;
        margin-bottom: -25vh;
    }
    #hero-title {
        display: flex;
        justify-content: center;
    }
    #header-section {
        margin: 1rem 2rem;
    }
    #suggested-container {
        margin: 16px 1rem;
        gap: 10px;
    }
    #episodes-container {
        margin: 1rem 2rem 4rem 2rem;
        gap: 25px;
    }
    #season-container {
        padding-left: 2rem;
    }
    #episode-image {
        width: 50vw;
        margin-bottom: 10px;
    }
    .episode-box {
        flex-direction: column;
        border-bottom: 1px solid rgb(150, 150, 150);
        padding-bottom: 20px;
    }
    .episode-content {
        margin-left: 1rem;
    }
    #header.show {
        top: -74px;
    }
    #header.visible {
        top: 0;
    }
    #discover-slider {
        margin-right: 10px;
        width: 30vw;
    }
    .card img {
        width: 30vw;
    }
    #discover-card {
        min-height: 46vw;
    }
    .card {
        width: 30vw;
    }
}
@media (max-width: 550px) {
    #footer {
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
    }
    #watchlist-card {
        gap: 2vw;
    }
    .watch-card img {
        width: 44vw;
    }
    .watch-card {
        width: 44vw;
    }
    .widecard-image {
        width: 90vw;
    }
    #settings-main {
        margin: 0 3vw;
        padding: 0 2vw 2vw 2vw;
    }
    #settings-title {
        font-size: 2.2rem;
    }
    #settings-button {
        font-size: 4.5vw;
        padding: 1.5vw;
    }
    #watchlist-clear {
        width: auto;
        height: auto;
        font-size: 4.5vw;
        padding: 1.5vw 4vw;
    }
    #footer-right {
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
    }
    #github {
        font-size: 30px;
    }
    #search-section {
        margin: 0;
    }
    #search-results {
        gap: 3vw;
    }
    #search-title {
        margin: 0 1rem;
    }
    #search-query {
        margin: 0 1rem 1rem 1rem;
    }
    #big-card {
        width: 45vw !important;
    }
    .big-image {
        width: 45vw !important;
    }
    #hero-title-image {
        max-width: 100%;
    }
    #hero-desc {
        font-size: 0.875rem;
    }
    #header-section {
        margin: 1rem 1rem;
    }
    #discover-section {
        margin: 0;
    }
    #discover-title {
        font-size: 1.5rem;
    }
    .card img {
        width: 40vw;
    }
    #discover-card {
        min-height: 61vw;
    }
    .card {
        width: 40vw;
    }
    #discover-slider {
        width: 40vw;
    }
    #suggested-container {
        margin: 16px 1vw;
        gap: 3vw;
    }
    #mcard {
        width: 45vw !important;
    }
    .mimage {
        width: 45vw !important;
    }
    #episodes-container {
        margin: 1rem 1rem 4rem 1rem;
    }
    #season-container {
        padding: 0;
        justify-content: center;
    }
    #season-selector {
        width: 100%;
        margin: 0 1rem;
    }
    .episode-content {
        margin-left: 0.5rem;
    }
    #episode-image {
        width: 70vw;
    }
    #episode-desc {
        font-size: .875rem;
    }
    #info-description {
        font-size: 0.875rem;
    }
    #check {
        display: none;
    }
}
@media (max-width: 500px) {
    #header-section {
        justify-content: center;
    }
    #header-logo {
        content: url('/images/icon.svg');
        height: 45px;
        width: 45px;
        margin-right: 10px;
    }
    #suggested-title {
        font-size: 1.7rem;
    }
    #header-section {
        margin: 0.5rem 1rem;
    }
    #header.show {
        top: -71px;
    }
    #install-button {
        order: 1;
    }
    #settings {
        order: 1;
    }
    #episode-image {
        width: 80vw;
    }
}
@media (max-width: 450px) {
    #search-input {
        width: 46vw;
    }
    #header-section {
        margin: 0.5rem 0rem;
    }
    #header-right {
        gap: 3vw;
    }
    #header-logo {
        margin-right: 2vw;
    }
    #episode-image {
        width: 100%;
    }
} */